//! Buttons.

@mixin button_conf($float)
    // min-width: 25px
    // max-width: 35px
    height: 100%
    float: $float
    &:hover
        cursor: pointer

@mixin button_expand($float)
    @include button_conf($float)
    content: url("../pics/expand.png")

@mixin button_close($float)
    @include button_conf($float)
    content: url("../pics/close.png")

@mixin button_add($float)
    @include button_conf($float)
    content: url("../pics/add.png")

@mixin button_collapse($float)
    @include button_conf($float)
    content: url("../pics/collapse.png")

@mixin button_refresh($float)
    @include button_conf($float)
    content: url("../pics/refresh.png")

@mixin button_undo($float)
    @include button_conf($float)
    content: url("../pics/undo.png")

@mixin button_save($float)
    @include button_conf($float)
    content: url("../pics/save.png")

@mixin button_move_up($float)
    @include button_conf($float)
    content: url("../pics/arrow_up.png")

@mixin button_move_down($float)
    @include button_conf($float)
    content: url("../pics/arrow_down.png")

@mixin button_tick_inactive($float)
    @include button_conf($float)
    content: url("../pics/tick_inactive.png")

@mixin button_tick_active($float)
    @include button_conf($float)
    content: url("../pics/tick_active.png")
